<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 -->
 <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
 </head>
  <body>
<span class="{{ status}}">Primary</span>

<table class="table table-sm" width="200px">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название системы</th>
      
    </tr>
     </thead>
<tbody>
    <tr>
    <td></td>
    
  <td class="bg-primary">...</td>
  </tr>
   </tbody>
</table>
<!--
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>
-->

    <!-- Optional JavaScript jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename = 'js/jquery-3.2.1.slim.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/popper.min.js') }}" ></script>   
<script src="{{ url_for('static', filename = 'js/tether.min.js') }}"></script>    
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>  



     <!-- 

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    
-->
 </body>
 
 

</html>
